module.exports = {
    get: function () {
        return {
            host: "localhost",
            user: "root",
            password: "admin",
            database : 'forestry'
        }
    },
};
