
.archive {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
}

/* Одноколоночное отображение на мобильных */
@media (max-width: 600px) {
    .archive {
        display: flex;
        flex-direction: column;
    }
}
